@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* * {
outline: 1px solid red;
outline-offset: -1px;
} */

body {
    background-color: white;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    overflow-y: scroll !important;
    padding-right: 0px !important;
    padding-bottom: 200px;
    
}

body a {
    text-decoration: none;
    color: inherit; 
}

.list-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btnnav {
    transition: 0.5s ease;
    background-color: white;
    font-weight: 500;
    border: none;
    border-radius: 18px;
    padding: 5px 10px 5px 10px;
}

.btnnav:hover {
    transform: translateY(1px);
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.24);
}

.btnCreate {
    position: relative;
}

.controls {
    position: relative;
    left: 70px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    white-space: nowrap;
}

.panel {
    position: relative;
    background-color: white;
    z-index: 2;
    padding: 25px;
    top: 120px;
    width: 50%;
    min-width: 430px;
    height: 80px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.24);
    border-radius: 18px;
}

.panel::before {
    content: "";
    z-index: 1;
    position: absolute;
    bottom: -10px;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    background-color: rgb(255, 255, 255);
}

.date-input {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
    transform: translateX(-10px);
    position: absolute;
    margin-left: 15px;
    left: 35px;
    top: -2px;
    border: none;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.103);
    height: 30px;
}

.dateLabel {
    cursor: pointer;
    padding-right: 100px;
}

#date-checkbox {
    margin-left: -5px;

}

[type="checkbox"]{
    width: 0;
    height: 0;
  }

input[type="checkbox"]:checked ~ .date-input {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
}

.logo {
    position: absolute;
    z-index: 9999;
    left: 6px;
    bottom: 15px;
}

.logo i {
    font-size: 52px;
}

.window {
    transition: 0.5s ease;
    position: relative;
    padding: 25px;
    margin-top: 20px;
    top: 150px;
    width: 50%;
    min-width: 430px;
    height: 250px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.24);
    border-radius: 18px;
}

.editModal {
    position: absolute;
    transition: 0.5s ease;
    border-radius: 18px;
    top: 180px;
}

.modal-body {
    border: none;
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}

.modal {
    backdrop-filter: blur(7px);
}

.modal-title {
    font-weight: 600;
}

.selectContext {
    text-align: center;
}

.inputEdit option:hover{
    margin-left: 20px;
}

.inputEdit {
    margin-top: 10px;
    border-radius: 10px;
    
}

.descriptionEdit {
 scrollbar-width: thin;
}

.modal-backdrop {
    background-color: transparent !important; /* Убираем затемнение */
}

.windows {
    position: relative;
    width: 100%;
}

.window:hover .editButton {
    margin-right: 7px;
}

.editButton {
    transition: 0.5s ease;
    position: absolute;
    width: 45px;
    height: 40px;
    top: 20px;
    right: 50px;
}

.editButton:hover {
    scale: 1.2;
    box-shadow: none;
}

.deleteButton {
    transition: 0.5s ease;
    position: absolute;
    font-size: 20px;
    width: 35px;
    height: 40px;
    top: 20px;
    right: 23px;
}

.deleteButton:hover {
    scale: 1.2;
    box-shadow: none;
}

.editButton i {
    font-size: 21;
}

.window:hover .status {
margin-left: 6px;
box-shadow: 1px 1px 40px 2px rgba(0, 0, 0, 0.24);
}
.window:hover .deadline {
    margin-left: 6px;
    box-shadow: 1px 1px 40px 2px rgba(0, 0, 0, 0.24);
}
.window:hover .title {
    font-weight: 600;
}

.window:hover {
    margin-right: 3px;
}

.title {
    transition: 0.5s ease;
    font-size: 28px;
    font-weight: 500;
    position: relative;
    bottom: 12px;
    text-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.status {
    transition: 0.5s ease;
    background-color: white;
    position: relative;
    left: -40px;
    bottom: 5px;
    width: fit-content;
    padding: 2px 10px 2px 10px;
    border-radius: 18px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.24);
}

.sDanger {
    color: rgb(255, 0, 0);
}

.sSucсess {
    color: rgb(0, 255, 0);
}

.sDepleted {
    color: rgb(186, 186, 186);
}

.deadline {
    transition: 0.9s ease;
    background-color: white;
    position: relative;
    left: -40px;
    top: 5px;
    width: fit-content;
    padding: 2px 10px 2px 10px;
    border-radius: 18px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.24);
}

.divider {
    position: relative;
    left: 100px;
    bottom: 53px;
    height: calc(100% - 20px);
    width: 1px;
    background-color: rgba(0, 0, 0, 0.123);
    border-radius: 18px;
}

.description {
    position: relative;
    border-radius: 10px;
    left: 120px;
    bottom: 230px;
    width: calc(100% - 110px);
    max-width: 740px;
    max-height: 150px;
    overflow-y: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.dropdown-title {
    pointer-events: all;
    cursor: default;
    position: relative;
    font-weight: 500;
    right: 17px;
}

.dropdown {
    pointer-events: none;
    transition: all 0.5s ease, box-shadow 1s ease;
    padding-top: 5px;
    border-radius: 18px;
    max-height: 36px;
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown ul {
    list-style-type: none;
}

.dropdown li {
    list-style: none;
    transition: 0.5s ease;
    opacity: 0; 
    width: 100%;
    transform: translateY(-10px); 
    margin-top: 3px; 
    margin-right: 10px;
    padding: 1px;
    visibility: hidden;
}

.dropdown-items {
    margin-top: 6px;
}
.dropdown-items-layer {
    width: 100%;
    padding-bottom: 10px;
}

.dropdown:hover {
    pointer-events: all;
    max-height: 500px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.24);
}

.dropdown:hover li {
    opacity: 1; 
    transform: translateY(0); 
    visibility: visible; 
}

.dropdown-items li:hover {
    margin-left: 2px;
}

.dropdownLayer {
    margin-top: -6px; 
    
    transition: 0.5s ease;
    max-height: 0px;
    width: 100%;
    opacity: 0;
}

.dropdownLayerBtn {
    display: block;
    cursor: default;
    padding-bottom: 6px;
}

.dropdownLayer li {
    list-style: none;
    transition: 0.5s ease;
    opacity: 0; 
    transform: translateY(10px); 
    margin-top: 3px; 
    visibility: hidden;
}

.dropdownLayerBtn:hover + .dropdownLayer,
.dropdownLayer:hover {
    max-height: 500px;
    padding-right: 15px;
    opacity: 1;
}

.dropdownLayerBtn:hover + .dropdownLayer li,
.dropdownLayer:hover li {
    opacity: 1; 
    transform: translateY(0); 
    visibility: visible; 
}

.dropdownLayerUnder {
    position: relative;
    right: 30px;
}

.btnActive {
    color: rgb(0, 255, 0);
}

.btnCompleted {
    color: rgb(255, 0, 0);
}

.btnQueue {
    color: rgb(186, 186, 186);
}

.selectBtn a:active i {
    margin-left: 3px;
}

.statuses i {
    transition: 0.5s ease;
    opacity: 0;
    transform: translateX(-5px);
    position: absolute;
    font-size: 11px;
    left: -15px;
    margin-top: 6px;
}

.statuses li:hover i {
    opacity: 1;
    transform: translateX(0px);
}